extends layout.pug

block content

    if name
        p.open-main-cards
            a(href='/cards' class="begin_btn") Open Main Cards!   
    end
    section#content 
       p Welcome to the app, <span>#{name}</span>. Select an option from the menu or open the main cards from the button above.