@import "_colours.scss";
@import "_font.scss";
@import "_utilities.scss";

* {
    padding: 0;
    margin: 0;
}

body {
  position: relative;
  background-color: $body-bg;
  font-family: $main-font;
}

header {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  color: $header-bg;
  background: #f3bd7c;
  font-size: 14px;
  border-bottom: 2px #e39696 solid;
}

header img {
  width: 100%;
  max-width: 350px;
}

.nav {
    width: 100%;
    text-align: right;
    position: relative;
    right: 20px;
}

.nav li {
    display: inline-block;
    margin-left: 10px;
    a {
        color: red;
        color: #551a8b;
        text-decoration: none;
    }
}

.begin-btn {
    @extend %begin-btn;
}

/* Flash Card Styles */
.card {
    display: block;
    width: 70%;
    background: $card-box-bg;
    border-radius: 20px;
}

h1 {
  margin: 20px 0;
}

h2 {
  font-weight: 400;
  margin:.83em 10px;
  border-bottom: 2px solid grey
}

h2.card-title {
    text-align: center;
}


button {
  outline: none;
}

input {
  width: 50%;
  height: 30px;
  font-size: 1em;
  text-align: center;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: $input-color;
  margin: 10px 20px;
}



/* Flash Cards */
.flashcards {
  position: absolute;
  top: 240px;
  right: 0;
  left: 0;
  bottom: 0;
}

.card {
    @extend %card-bg;
}

.card-header {
  background-color: $card-bg;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.next_card:hover,
.switch_side:hover {
  font-weight: bold;
}

.card-title {
    @extend %card-title;
}

.open-main-cards {    
    

    a {
        text-decoration: none;
    }

    @extend %open-maincards-btn;
}

//signin - signout buttons
#content {
    padding: 2% 35%;

    p {
    
        color: black;
        span {
            font-weight: bold;
            color: #af1717;
        }
        
    }
}


#content button {
    display: block;
}
  

#content button,
.submit {
    @extend %submit-btn;
}

#content button:hover, 
.submit:hover {
  cursor: pointer;
  background-color: #C79735;
  color: #fff;
}

#content .more-cards {
    display: block;
    margin: 0 auto;
    width: 320px;

    p {
    
        color: black;
        span {
            font-weight: bold;
            color: #af1717;
        }
    }

    ul {
        list-style: none;
        background: wheat;

        li {
            margin: 10px 0;

            a:hover {
                color: red;
            }

            a {
                color: #551a8b;
                text-decoration: none;
                &:hover { 
                    color: black;
                }
            }
        }
    }
}

/*footer*/

footer p {
    text-align:  center;
}

/*404 page styling*/

/*Responsive*/
@media screen and (max-width: 680px) {
    .nav {
        text-align: center;
    }

    .card {
      width: 70%;
      
    }

    #content {
      padding: 0;
    }

    #content table {
      display: table;
      margin: 10px auto;
    }
}